<!-- ========================= SECTION MAIN ========================= -->
<div class="slider pt-2 main-menu">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row row-sm">
          <aside class="col-md-3">
            <div class="row no-gutters" id="markets">
              <i class="material-icons">list</i>
              <h4 class="my-0 ml-2 p-0 text-uppercase font-weight-bold text-dark">My Markets</h4>
            </div>
            <div class="menu-category-view index-category indiv-category-view">
              <ul class="indiv-category-list">
                <li class="category-item-wrapper  first-item " *ngFor="let categories of myMarkets; let i = index;">
                  <a class="category-item util-ellipsis" self="_blannk"
                    (click)="searchCategory($event, categories.name)"
                    title="Consumer Electronics">
                    {{categories.name}}
                  </a>
                </li>
                <li data-role="vmore" class="category-item-wrapper vmore">
                  <a class="category-item vmore-link">
                    All Categories<i class="ui2-icon ui2-icon-arrow-right"></i>
                  </a>
                  <div class="hover-fix"></div>
                  <ul class="vmore-menu">
                    <li class="menu-item util-ellipsis" *ngFor="let scat of allCategories; let x = index">
                      <a [routerLink]="['/products',singlecat.name]" *ngFor="let singlecat of allCategories[x]"
                        title=" {{singlecat.name}}">
                        {{singlecat.name}}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </aside>
          <div class="col-md-6">
            <div class="owl-init slider-main owl-carousel  mt-3">
              <div class="item-slide">
                <img alt="ImageAlt" src="../../assets/images/BannerIamge@2x.png" width="100%" height="100%" />
              </div>
            </div>
          </div>
          <aside class="col-md-3">
            <h6 class="title-bg bg-dark">Qualified Suppliers</h6>
            <div style="height:90%;">
              <figure class="itemside has-bg border-bottom" style="height: 33%;">
                <img alt="ImageAlt" class="img-bg" src="../../../assets/images/electronics@2x.png" />
                <figcaption class="p-2">
                  <h6 class="title font-weight-bold">Consumer Electronics</h6>
                  <a href="#" class="source-products-banner bg-primary text-white">Source Products</a>
                </figcaption>
              </figure>
              <figure class="itemside has-bg border-bottom" style="height: 33%;">
                <img alt="ImageAlt" class="img-bg" src="../../../assets/images/home&garden@2x.png" height="80" />
                <figcaption class="p-2">
                  <h6 class="title font-weight-bold">Home & Garden</h6>
                  <a href="#" class="source-products-banner bg-primary text-white">Source Products</a>
                </figcaption>
              </figure>
              <figure class="itemside has-bg border-bottom" style="height: 33%;">
                <img alt="ImageAlt" class="img-bg" src="../../../assets/images/sports@2x.png" height="80" />
                <figcaption class="p-2">
                  <h6 class="title font-weight-bold">Sports & Entertainment</h6>
                  <a href="#" class="source-products-banner bg-primary text-white">Source Products</a>
                </figcaption>
              </figure>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================= SECTION MAIN END// ========================= -->
<!-- ========================= SECTION BANNER & TABS ITEMS// ========================= -->

<div class="container">
  <div class="main-content">
    <div class="main-second-floor">
      <div class="rfq">
        <div class="row-title util-clearfix">
          <h2 class="simple-title util-left text-uppercase font-weight-bold">
            <a href="">Consumer Electronics</a>
          </h2>
          <div class="label"></div>
        </div>
      </div>
      <div class="home-category-info-content">
        <div class="home-category-info-banner-warpper">
          <a class="home-category-info-banner banner-new "
            href="https://www.alibaba.com/Consumer-Electronics_p44?tracelog=20190219_ICBU_PC_DAILY_BANNER_ICBU_PC_DAILY_BANNER_ALL_44"
            data-goldkey="procatesFloor" data-goldlog="click_item=banner&amp;floorIndex=0&amp;cid=44">
            <canvas class="theme-canvas" style="display: none" width="600" height="320"></canvas>
            <img alt="ImageAlt" class="theme-image"
              src="https://img.alicdn.com/tfs/TB1J5jev7voK1RjSZPfXXXPKFXa-300-320.png_.webp" crossorigin="anonymous">
            <h3 class="title">Selected Novelty Products</h3>
            <div class="btn-wrapper" style="color: rgb(131, 176, 220);">
              Source Now
            </div>
          </a>
        </div>
        <div class="home-category-info-tab-words-warpper">
          <div class="home-category-info-tab-words">
            <div class="home-category-info-tab-words-content">
              <ul class="home-category-info-tab-words-line">
                <li class="home-category-info-tab-word word-1 zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-50042739310#algPos-0#matchType-0#fatherId-null#blockId-1031184#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=1031184&amp;contentType=trend&amp;throughOfferIds=50042739310,50046042074,60827526120"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=1&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-50042739310#pos-0#matchType-0#fatherId-null#blockId-1031184">
                    <div class="home-category-info-tab-word-content">
                      <h3>Mobile Phones</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://img.alicdn.com/tfs/TB1UO.WDSzqK1RjSZPxXXc4tVXa-350-350.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word word-1 zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60802276776#algPos-2#matchType-0#fatherId-null#blockId-1013586#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=1013586&amp;contentType=trend&amp;throughOfferIds=60802276776,60856768016,60807068475"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=3&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60802276776#pos-2#matchType-0#fatherId-null#blockId-1013586">
                    <div class="home-category-info-tab-word-content">
                      <h3>Mobile Phone Bags &amp; Cases</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc01.alicdn.com/kf/HTB1G3arXjzuK1RjSspeq6ziHVXae/Flip-fur-case-For-iphone-X-xs.jpg_300x300.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word word-1 zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60718443666#algPos-4#matchType-0#fatherId-null#blockId-1015537#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=1015537&amp;contentType=trend&amp;throughOfferIds=60718443666,60661811826,50045469710"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=5&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60718443666#pos-4#matchType-0#fatherId-null#blockId-1015537">
                    <div class="home-category-info-tab-word-content">
                      <h3>Speakers</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc02.alicdn.com/kf/HTB1NbjCgdnJ8KJjSszdq6yxuFXay/New-15-inch-bass-big-power-200W.jpg_300x300.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word word-1 zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60790274285#algPos-6#matchType-0#fatherId-null#blockId-6115229#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=6115229&amp;contentType=attrtrend&amp;throughOfferIds=60790274285,60810431938,60762085521"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=7&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60790274285#pos-6#matchType-0#fatherId-null#blockId-6115229">
                    <div class="home-category-info-tab-word-content">
                      <h3>Mobile Phone Housings</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc02.alicdn.com/kf/HTB1gA7OJ25TBuNjSspcq6znGFXaX/Free-sample-motherboard-for-iphone-unlocked-7p.jpg_300x300.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word word-1 zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60682713209#algPos-8#matchType-0#fatherId-null#blockId-1010809#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=1010809&amp;contentType=trend&amp;throughOfferIds=60682713209,60677910393,60686940854"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=9&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60682713209#pos-8#matchType-0#fatherId-null#blockId-1010809">
                    <div class="home-category-info-tab-word-content">
                      <h3>Projectors</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc02.alicdn.com/kf/HTB14ixkSFXXXXaUapXXq6xXFXXXf/GP80-1800lumens-Portable-HD-home-cinema-LED.jpg_300x300.jpg_.webp">
                  </a>
                </li>
              </ul>
              <ul class="home-category-info-tab-words-line">
                <li class="home-category-info-tab-word zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-477115995#algPos-1#matchType-0#fatherId-null#blockId-102524#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=102524&amp;contentType=trend&amp;throughOfferIds=477115995,60791240078,60701817414"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=2&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-477115995#pos-1#matchType-0#fatherId-null#blockId-102524">
                    <div class="home-category-info-tab-word-content">
                      <h3>Amplifiers</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc01.alicdn.com/kf/HTB18V2ELXXXXXaSXXXXq6xXFXXXN/MC1502-1500wattx2-switching-power-supply-amplifier.jpg_300x300.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60478390117#algPos-3#matchType-0#fatherId-null#blockId-102531#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=102531&amp;contentType=trend&amp;throughOfferIds=60478390117,60838610397,60712394641"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=4&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60478390117#pos-3#matchType-0#fatherId-null#blockId-102531">
                    <div class="home-category-info-tab-word-content">
                      <h3>Other Audio &amp; Video Equipments</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc02.alicdn.com/kf/HTB1Pz5wKpXXXXavaXXXq6xXFXXXV/RainLane-CD-home-automatic-Turntable-cassette-vinyl.jpg_300x300.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60726542654#algPos-5#matchType-0#fatherId-null#blockId-102433#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=102433&amp;contentType=trend&amp;throughOfferIds=60726542654,60828337158,60732255150"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=6&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60726542654#pos-5#matchType-0#fatherId-null#blockId-102433">
                    <div class="home-category-info-tab-word-content">
                      <h3>Screen Protectors</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc02.alicdn.com/kf/HTB15k16f_dYBeNkSmLyq6xfnVXaD/2018-Top-Quality-Soft-Flexible-Materials-TPU.jpg_300x300.jpg_.webp">
                  </a>
                </li>
                <li class="home-category-info-tab-word zoom-wrap"
                  data-ctrdot="expose_cid-3803#senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60425238556#algPos-7#matchType-0#fatherId-null#blockId-1015201#">
                  <a href="//www.alibaba.com/industry/product.html?contentId=1015201&amp;contentType=trend&amp;throughOfferIds=60425238556,60768469839,60816429168"
                    data-goldkey="procatesFloor"
                    data-goldlog="floorIndex=0&amp;click_item=tabWords&amp;index=8&amp;clickParam=click_cid-3852#click_senseid-9200_8#pvid-d591dd6d-4771-467b-a01e-c33838fbb958#id-60425238556#pos-7#matchType-0#fatherId-null#blockId-1015201">
                    <div class="home-category-info-tab-word-content">
                      <h3>Earphone Accessories</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in"
                      src="https://sc01.alicdn.com/kf/HTB1v72VodknBKNjSZKPq6x6OFXam/microphone-foam-windscreen-headset-mic-cover-sponge.jpg_300x300.jpg_.webp">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ========================= SECTION BANNER & TABS ITEMS END// ========================= -->
<!-- ========================= SECTION RFQ ITEMS END// ========================= -->
<section>
  <div class="container">
    <div class="rfq" data-spm="201709" data-ctrdot="rfq">
      <div class="row-title util-clearfix" data-spm="201709-1">
        <h2 class="main-title util-left">
          <a href="">Request For Quotation</a>
        </h2>
        <div class="sub-title util-left">Customization Service</div>
        <div class="label"></div>
      </div>
      <div class="row-content util-clearfix">
        <!-- tangram:1486 begin-->
        <div class="rfq-form rfq-form-multi-en_US" data-spm="201709-3">
          <form action="https://rfq.alibaba.com/rfq/post.htm?tracelog=new_ali" method="post" _lpchecked="1">
            <div class="rfq-title">
              <label>One Request, Multiple Quotes</label>
            </div>
            <div class="rfq-row">
              <input type="text" name="rfqName"
                class="rfq-keywords ui2-textfield ui2-textfield-large ui2-textfield-single searchbar-keyword"
                maxlength="128" placeholder="What are you looking for…">
            </div>
            <div class="rfq-row util-clearfix">
              <input type="text" name="quantity"
                class="rfq-quantity ui2-textfield ui2-textfield-large ui2-textfield-single quantity"
                placeholder="Quantity">
            </div>
            <div class="rfq-row">
              <span class="rfq-tip">Select template type:</span>
              <div class="rfq-tags util-clearfix">
                <input type="hidden" name="rfqDetail" value="">
                <div class="ui2-tag ui2-tag-basic ui2-tag-check ui2-tag-small"
                  data-message="I’d like to request a quotation with your best price offer.">
                  <div class="ui2-tag-head" data-role="tag-head"></div>
                  <div class="ui2-tag-body" data-role="tag-body">
                    Request price
                  </div>
                  <div class="ui2-tag-tail" data-role="tag-tail">
                  </div>
                </div>
                <div class="ui2-tag ui2-tag-basic ui2-tag-check ui2-tag-small"
                  data-message="Please can you send me a product sample?">
                  <div class="ui2-tag-head" data-role="tag-head"></div>
                  <div class="ui2-tag-body" data-role="tag-body">
                    Request a sample
                  </div>
                  <div class="ui2-tag-tail" data-role="tag-tail">
                  </div>
                </div>
                <div class="ui2-tag ui2-tag-basic ui2-tag-check ui2-tag-small"
                  data-message="I’d like to request a quotation including full product details.">
                  <div class="ui2-tag-head" data-role="tag-head"></div>
                  <div class="ui2-tag-body" data-role="tag-body">
                    Request quotation details
                  </div>
                  <div class="ui2-tag-tail" data-role="tag-tail">
                  </div>
                </div>
              </div>
            </div>
            <button class="rfq-submit btn btn-dark btn-md" type="submit">Request For Quotation</button>
          </form>
        </div>
        <div class="rfq-banner-0705 rfq-form-multi-en_US" data-spm="201709-2" data-spm-max-idx="1">
          <div id="J_RFQ_Slide" class="rfq-banner-slider rfq-banner-slider-onlyone ui-switchable">
            <ul class="rfq-banner-list util-clearfix ui-switchable-content" data-role="content">
              <li data-role="panel" class="ui-switchable-panel" style="opacity: 1; position: absolute; z-index: 9;">
                <a href="//rfq.alibaba.com/rfq.html?spm=a2700.8293689.201709-2.1.2ce214be5SCpBM&amp;tracelog=guojizhanshouyerfqbanner_dy0301"
                  class="rfq-banner-item zoom-in"
                  style="background-image:url(https://img.alicdn.com/tfs/TB1wECTkGagSKJjy0FbXXa.mVXa-1060-376.jpg_.webp)"
                  data-spm-anchor-id="a2700.8293689.201709-2.1">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= SECTION RFQ ITEMS END// ========================= -->
