<app-navigation></app-navigation>
<!-- Header -->
<div class="main-container">
  <div class="container">
      <div class="row pt-2">
          <div class="col ml-auto">
            <h1 class="mtitle ml-2 text-secondary">My Requests</h1>
          </div>
          <div class="col mr-auto text-right">
            <a routerLink="/rfq" class="btn btn-sm btn-secondary text-white py-2" style="height: 100%;">Back</a>
          </div>
        </div>

    <!-- Body -->

    <div class="container my-3 p-0" style="background-color: white;" *ngIf="isLoaded">
      <div class="header w-100" style="background-color: #dbdbdc; padding: 0">
        <span class="m-0 p-2 px-3 text-secondary font-weight-bold"
          style="font-size: 1.2rem; background-color: white; display:block; width: 150px; word-wrap:break-word;">All Requests</span>
      </div>
      <table class="table table-hover mtable">
        <thead>
          <tr>
            <th scope="col">Request Product</th>
            <th scope="col">Destination</th>
            <th scope="col">Price / Quantity</th>
            <th scope="col" class="text-danger text-center">Delete</th>
          </tr>
        </thead>

        <tbody *ngIf="isLoaded">
          <tr *ngFor="let request of allRequests; let i = index;">
            <td scope="row">
              <div class="media">
                <img class="align-self-center mr-3" src="{{request.productImages[0].productImage}}" alt="img"
                  height="50" width="50" style="object-fit: contain;">
                <div class="media-body">
                  <span>{{request.title}}</span>
                </div>
              </div>
            </td>
            <td>{{request.destination}}</td>
            <td>${{request.orderPrices[0].price}}€ / {{request.orderPrices[0].quantity}} pieces</td>
            <td (click)="deleteRFQ(rfqID[i]);" id="delete" class="text-center">
              <i class="ml-2 text-secondary disabled" class="material-icons">
                  delete_forever
              </i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container my-2 p-0" style="background-color: white;" *ngIf="!isLoaded">
      Loading products please wait...
    </div>
  </div>
</div>
