<!-- =========================*
 *  Classname Home Page Source Code
 *
 *  Date e.g. 13/10/2018
 *	
 * @reference https://www.alibaba.com
 *
 ========================= -->

<!-- ========================= SECTION/MAIN ========================= -->
<div class="slider pt-2 main-menu">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row row-sm">
          <aside class="col-md-3">
            <div class="row no-gutters" id="markets">
              <i class="material-icons">list</i>
              <h4 class="my-0 ml-2 p-0 text-uppercase font-weight-bold text-dark">My Markets</h4>
            </div>
            <div class="menu-category-view index-category indiv-category-view">
              <ul class="indiv-category-list">
                <li class="category-item-wrapper  first-item " *ngFor="let categories of myMarkets; let i = index;">
                  <a class="category-item util-ellipsis" [routerLink]="['/products', categories.name]"
                    title="Consumer Electronics">
                    {{categories.name}}
                  </a>
                </li>
                <li data-role="vmore" class="category-item-wrapper vmore">
                  <a class="category-item vmore-link">
                    All Categories<i class="ui2-icon ui2-icon-arrow-right"></i>
                  </a>
                  <div class="hover-fix"></div>
                  <ul class="vmore-menu">
                    <li class="menu-item util-ellipsis" *ngFor="let scat of allCategories; let x = index">
                      <a [routerLink]="['/products',singlecat.name]" *ngFor="let singlecat of allCategories[x]"
                        title=" {{singlecat.name}}">
                        {{singlecat.name}}
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </aside>
          <div class="col-md-6">
            <div class="owl-init slider-main owl-carousel  mt-3">
              <div class="item-slide">
                <img alt="ImageAlt" src="../../assets/images/BannerIamge@2x.png" width="100%" height="100%" />
              </div>
            </div>
          </div>
          <aside class="col-md-3">
            <h6 class="title-bg bg-dark">Qualified Suppliers</h6>
            <div style="height:90%;">
              <figure class="itemside has-bg border-bottom" style="height: 33%;">
                <img alt="ImageAlt" class="img-bg" src="../../../assets/images/electronics@2x.png" />
                <figcaption class="p-2">
                  <h6 class="title font-weight-bold">Consumer Electronics</h6>
                  <a href="#" class="source-products-banner bg-primary text-white">Source Products</a>
                </figcaption>
              </figure>
              <figure class="itemside has-bg border-bottom" style="height: 33%;">
                <img alt="ImageAlt" class="img-bg" src="../../../assets/images/home&garden@2x.png" height="80" />
                <figcaption class="p-2">
                  <h6 class="title font-weight-bold">Home & Garden</h6>
                  <a href="#" class="source-products-banner bg-primary text-white">Source Products</a>
                </figcaption>
              </figure>
              <figure class="itemside has-bg border-bottom" style="height: 33%;">
                <img alt="ImageAlt" class="img-bg" src="../../../assets/images/sports@2x.png" height="80" />
                <figcaption class="p-2">
                  <h6 class="title font-weight-bold">Sports & Entertainment</h6>
                  <a href="#" class="source-products-banner bg-primary text-white">Source Products</a>
                </figcaption>
              </figure>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ========================= SECTION MAIN END// ========================= -->
<!-- ========================= SECTION BANNER & TABS ITEMS// ========================= -->

<div class="container">
  <div class="main-content">
    <div class="main-second-floor" *ngFor="let section of allSections; let i = index;">
      <div class="rfq">
        <div class="row-title util-clearfix">
          <h2 class="simple-title util-left text-uppercase font-weight-bold">
            <a [routerLink]="['/products',section.name]">{{section.name}}</a>
          </h2>
          <div class="label"></div>
        </div>
      </div>
      <div class="home-category-info-content">
        <div class="home-category-info-banner-warpper">
          <a class="home-category-info-banner banner-new " [routerLink]="['/products',section.name]">
            <canvas class="theme-canvas" style="display: none" width="600" height="320"></canvas>
            <img alt="ImageAlt" class="theme-image" [src]="section.image" crossorigin="anonymous">
            <h3 class="title" title="{{section.title}}">{{section.title}}</h3>
            <div class="btn-wrapper" style="color: rgb(131, 176, 220);">
              Source
            </div>
          </a>
        </div>
        <div class="home-category-info-tab-words-warpper">
          <div class="home-category-info-tab-words">
            <div class="home-category-info-tab-words-content">
              <ul class="home-category-info-tab-words-line" *ngFor="let level of section.data; let i = index;">
                <li class="home-category-info-tab-word word-1 zoom-wrap" *ngFor="let item of level; let i = index ">
                  <a [routerLink]="['/products',item.title]">
                    <div class="home-category-info-tab-word-content">
                      <h3>{{item.title}}</h3>
                    </div>
                    <img alt="ImageAlt" class="home-category-info-tab-word-img zoom-in" [src]="item.image">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ========================= SECTION BANNER & TABS ITEMS END// ========================= -->
<!-- ========================= SECTION RFQ ITEMS END// ========================= -->
<section>
  <div class="container">
    <div class="rfq">
      <div class="row-title util-clearfix">
        <h2 class="main-title util-left">
          <a href="">Request For Quotation</a>
        </h2>
        <div class="sub-title util-left">Customization Service</div>
        <div class="label"></div>
      </div>
      <div class="row-content util-clearfix">
        <div class="rfq-form">
          <div class="rfq-title">
            <label>One Request, Multiple Quotes</label>
          </div>
          <div class="rfq-row">
            <input type="text" name="rfqName"
              class="rfq-keywords ui2-textfield ui2-textfield-large ui2-textfield-single searchbar-keyword"
              maxlength="128" placeholder="What are you looking for…">
          </div>
          <div class="rfq-row util-clearfix">
            <input type="text" name="quantity"
              class="rfq-quantity ui2-textfield ui2-textfield-large ui2-textfield-single quantity"
              placeholder="Quantity">
          </div>
          <div class="rfq-row">
            <span class="rfq-tip">Select template type:</span>
            <div class="rfq-tags util-clearfix">
              <input type="hidden" name="rfqDetail" value="">
              <div class="ui2-tag ui2-tag-basic ui2-tag-check ui2-tag-small"
                data-message="I’d like to request a quotation with your best price offer.">
                <div class="ui2-tag-head" data-role="tag-head"></div>
                <div class="ui2-tag-body" data-role="tag-body">
                  Request price
                </div>
                <div class="ui2-tag-tail" data-role="tag-tail">
                </div>
              </div>
              <div class="ui2-tag ui2-tag-basic ui2-tag-check ui2-tag-small"
                data-message="Please can you send me a product sample?">
                <div class="ui2-tag-head" data-role="tag-head"></div>
                <div class="ui2-tag-body" data-role="tag-body">
                  Request a sample
                </div>
                <div class="ui2-tag-tail" data-role="tag-tail">
                </div>
              </div>
              <div class="ui2-tag ui2-tag-basic ui2-tag-check ui2-tag-small"
                data-message="I’d like to request a quotation including full product details.">
                <div class="ui2-tag-head" data-role="tag-head"></div>
                <div class="ui2-tag-body" data-role="tag-body">
                  Request quotation details
                </div>
                <div class="ui2-tag-tail" data-role="tag-tail">
                </div>
              </div>
            </div>
          </div>
          <button class="rfq-submit btn btn-dark btn-md">Request For Quotation</button>
        </div>
        <div class="rfq-banner-0705">
          <div id="J_RFQ_Slide" class="rfq-banner-slider rfq-banner-slider-onlyone ui-switchable">
            <ul class="rfq-banner-list util-clearfix ui-switchable-content" data-role="content">
              <li data-role="panel" class="ui-switchable-panel" style="opacity: 1; position: absolute; z-index: 9;">
                <a href="" class="rfq-banner-item zoom-in"
                  style="background-image:url(../../../assets/images/rfqbanner.jpg)">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= SECTION RFQ ITEMS END// ========================= -->
