<app-navigation></app-navigation>
<!--SINGLE PRODUCTS HEADER -->
<div class="main-container" *ngIf="isLoaded">
  <div class="container py-3">
    <div class="single-product">
      <div class="action-sub">
        <div class="detail-box">
          <div class="scc-wrapper detail-module module-detailBoothImage" data-spm="degeboot10">
            <div class="widget-detail-booth-image J-disable-event" data-role="widget-detail-booth-image">
              <div class="imain" id="J-dbi-imgplayer">
                <div class="icontent" id="J-image-icontent" data-widget-cid="widget-0">
                  <div class="iwrap nopic" data-role="thumbWrap">
                    <a class="inner dot-app-pd">
                      <img [src]="mainImage" [alt]="product.title">
                    </a>
                  </div>
                </div>
              </div>
              <ul class="inav util-clearfix mt-2">
                <li class="item mx-1" data-role="item" *ngFor="let image of product.productImages; let i = index;"
                  (click)="changeImage($event, image.productImage)">
                  <div class="thumb">
                    <img [src]="image.productImage" [alt]="image.productImage">
                  </div>
                  <span class="arrow"></span>
                </li>

              </ul>
            </div>

          </div>

        </div>
      </div>
      <div class="action-main">
        <div class="detail-box">
          <div class="scc-wrapper detail-module module-mainAction" data-spm="maonnacta" data-spm-max-idx="6">
            <div class="widget-main-action widget-main-action-ws" data-role="widget-main-action">
              <div class="ma-title-wrap">
                <span class="promotion-title-tag pt-before" id="detail-title-tags-before-title"></span>
                <span class="wholesale_product"></span>
                <h1 class="ma-title"
                  title="Stereo Sound Magnetic Headphones Running  Earphone in Ear Earbuds with Charging Case">
                  {{product.title}}</h1>
                <span class="promotion-title-tag pt-after" id="detail-title-tags-after-title"></span>
              </div>
              <div class="ma-main">
                <div class="promotion-banner" id="detail-banner"></div>
                <div class="ma-price-wrap">
                  <ul id="ladderPrice" class="ma-ladder-price ma-ladder-price-count-3 util-clearfix">
                    <li data-role="ladder-price-item" *ngFor="let p of product.orderPrices; let i = index"
                      class="ma-ladder-price-item ladder-price-{{i+1}} util-clearfix">
                      <!-- current-ladder-price -->
                      <div class="ma-quantity-range" title="{{p.qmin}}-{{p.qmax}}">
                        {{p.qmin}}-{{p.qmax}} Pairs
                      </div>
                      <div class="ma-spec-price ma-price-promotion">
                        <span class="priceVal" title="${{p.qprice}}">€{{p.qprice}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="ma-brief-list ma-main-brief-list" data-role="ma-brief-list">
                  <div id="skuWrap" class="sku-wrap">
                    <dl class="sku-attr-dl util-clearfix" data-role="last-sku-attr"
                      *ngFor="let v of product.variants; let i = index;">
                      <dt class="name" title="{{v.optionName}}">{{v.optionName}}</dt>
                      <dd class="sku-attr-val value util-clearfix">
                        <div class="sku-attr-val-item   sku-attr-val-item-noprice">
                          <div class="sku-attr-val-last sku-attr-val-img">
                            <span class="sku-attr-val-frame picture-frame" title="{{v.optionValue}}">
                              <span>{{v.optionValue}}</span>
                            </span>
                          </div>
                          <div class="sku-quantity quantity-value">
                            <div style="display:inline-block">
                              <a class="btn-quantity quantity-down"><b>-</b></a>
                              <input type="text" placeholder="0" [(ngModel)]="calculator[i]" (keyup)="totalPrice()" maxlength="6" class="ui2-textfield ui2-textfield-single" >
                              <a class="btn-quantity quantity-up"><b>+</b></a>
                            </div>
                          </div>
                        </div>
                      </dd>
                    </dl>
                  </div>
                  <div id="productCalculator" class="product-calculator util-clearfix">
                    <div class="product-total-price">
                      <span class="mark-calculator mark-calculator-quantity">{{tP}}</span>selected
                      <br>
                      <span class="mark-calculator">
                        <span data-role="product-total-price">€{{tPrice}}</span>
                      </span>in total
                    </div>
                  </div>
                  <dl class="shipping util-clearfix">
                    <dt class="name">
                      Shipping fee:
                    </dt>
                    <dd class="value">
                      <span id="J-wholesale-wrapper" class="shipping-mode util-clearfix sc" data-ip-country="IE">
                        Contact supplier for shipping cost to
                        <a id="wholesale-tansport-selector" href="javascript:;" class="dot-button"
                          data-dot="sc_button_type=shippingcost&amp;sc_page_type=detail2.0">
                          <span id="J-wholesale-tansport-method">Ireland</span>
                        </a>
                      </span>
                    </dd>
                  </dl>
                  <dl class="lead-time util-clearfix">
                    <dt class="name">Lead Time:</dt>
                    <dd class="value" data-role="lead-time-value"> <b class="lead-time-num"
                        data-role="lead-time-num">2</b> day(s) after payment received
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="ma-operate">
                <div class="ma-main-operate">
                  <button id="J-btn-order" class="btn btn-dark"
                    style="padding-left:20px; padding-right: 20px; margin-right: 15px; border-radius: 2px;">Start Order
                  </button>
                  <button (click)="contactSupplier()"
                    class="ui2-button ui2-button-primary ui2-button-large ma-button-contact-supplier wholesale-cs-btn"
                    style="margin-right: 16px;"><i class="ui2-icon ui2-icon-left ui2-icon-message"></i> Contact Supplier
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--SINGLE END PRODUCTS HEADER -->
    <!-- SINGLE PRODUCT DESCRIPTION -->
    <div class="details-info py-2">
      <div class="detail-box box-type-detailTab" data-module="detailTab">
        <div class="tab-main" style="width: auto;">
          <div class="next-tabs next-tabs-wrapped next-tabs-medium next-tabs-top">
            <div class="m-gallery-switch-channel w-100">
              <div class="ui2-tab  ui2-tab-primary" id="tab1_top">
                <ul class="ui2-tab-nav ui2-tab-nav-top">
                  <li class="ui2-tab-active">
                    <a>
                      Product Details
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/overview',id]" rel="nofollow">
                      Company Profile
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-body">
        <div class="widget-detail-overview">
          <div class="do-title">Overview</div>
          <div class="do-content">
            <div class="do-overview">
              <div class="do-entry do-entry-separate">
                <div class="do-entry-title">Quick Details</div>

                <div class="do-entry-list">
                  <dl class="do-entry-item">
                    <dt class="do-entry-item">
                      <span class="attr-name J-attr-name" title="Brand">Brand</span>
                    </dt>
                    <dd class="do-entry-item-val">
                      <div class="ellipsis" title="{{product.brand}}">{{product.brand}}</div>
                    </dd>
                  </dl>
                  <dl class="do-entry-item" *ngFor="let o of product.overview; let i = index;">
                    <dt class="do-entry-item">
                      <span class="attr-name J-attr-name" title="{{o.title}}">{{o.title}}</span>
                    </dt>
                    <dd class="do-entry-item-val">
                      <div class="ellipsis" title="{{o.value}}">{{o.value}}</div>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="do-entry do-entry-full">
                <div class="do-entry-title">Supply Ability</div>
                <div class="do-entry-list">
                  <dl class="do-entry-item">
                    <dt class="do-entry-item-key" title="Supply Ability">
                      Supply Ability:
                    </dt>
                    <dd class="do-entry-item-val" title="{{product.supplyAbility}}">
                      {{product.supplyAbility}}</dd>
                  </dl>
                </div>
              </div>
              <div class="do-entry do-entry-full">
                <div class="do-entry-title">Packaging & Delivery</div>
                <div class="do-entry-list">
                  <dl class="do-entry-item" *ngFor="let p of product.pd; let i = index;">
                    <dt class="do-entry-item-key" title="{{p.title}}">{{p.title}}</dt>
                    <dd class="do-entry-item-val" title="{{p.value}}">
                      {{p.value}}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END SINGLE PRODUCT DESCRIPTION -->
