<!-- =========================*
 *  Classname Products
 *
 *  Date e.g. 13/10/2018
 *	
 * @reference https://www.alibaba.com
 *
 ========================= -->
<app-navigation></app-navigation>
<div class="main-container pb-2">
    <div class="container py-3 mx-auto">
  <!-- FILTER BOX -->
  <div class="filter-box row">
    <div class="m-gallery-switch-channel w-100">
      <div class="ui2-tab  ui2-tab-primary" id="tab1_top">
        <ul class="ui2-tab-nav ui2-tab-nav-top">
          <li class="ui2-tab-active">
            <a  [routerLink]="['/products']" rel="nofollow">
              Products
            </a>
          </li>
          <li>
            <a [routerLink]="['/suppliers']" rel="nofollow">
              Suppliers
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- END FILTER BOX -->
  <!-- PRODUCTS LIST -->
  <div class="product-list row py-3" *ngIf="isLoaded">
    <div class="col-3 px-1" *ngFor="let product of products; let i = index;">
      <div class="gallery-product">
        <div class="item-main">
          <div class="item-img">
            <div class="place"></div>
            <div class="item-img-inner">
              <a target="_blank" [routerLink]="['/product',sid[i].id,pid[i].id]">
                <div class="offer-image-box">
                  <img [src]="product.productImages[0].productImage"
                    alt="product.title">
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="item-info">
          <h2 class="title two-line" style="display:flex;">
            <a target="_blank" [routerLink]="['/product',sid[i].id,pid[i].id]"
              title="product.title">
              {{product.title}}
            </a>
          </h2>
          <div class="pmo">
            <div class="price">
              <b>
                US${{product.orderPrices.slice(-1)[0].qprice}}-US${{product.orderPrices[0].qprice}}
              </b>
              / Piece
            </div>
            <div class="min-order">
              <b>{{product.orderPrices[0].qmin}}</b>
              (Min Order)
            </div>
          </div>
          <div class="stitle util-ellipsis">
            <div class="s-gold-supplier-year-icon" flasher-type="supplierYear">{{date[i]}}<span class="unit">YRS
              </span></div>
            <a title="{{supplier[i].companyProfile.tradingName}}" [routerLink]="['/overview',sid[i].id]"
            target="_blank" flasher-type="supplierName">{{supplier[i].companyProfile.tradingName}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
<!-- END PRODUCTS LIST -->
