<app-navigation></app-navigation>
<div class="main-container my-0">
  <!-- Header -->
  <div class="container py-3">
    <div class="row">
      <div class="col ml-auto">
        <h1 class="mtitle ml-2 text-secondary">Add Product</h1>
      </div>
      <div class="col mr-auto text-right">
        <a routerLink="/allproducts" class="btn btn-sm btn-secondary text-white py-2" style="height: 100%;">Back</a>
      </div>
    </div>
  </div>
  <div class="container my-2 p-0">
    <form (ngSubmit)="addNewProduct()" [formGroup]="ProductForm">
      <div class="row">
        <div class="col-8">
          <div class="row">
            <!-- Basic -->
            <div class="col">
              <div class="card">
                <span class="card-title font-weight-bold">Basic</span>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" placeholder="Short Sleeve T-Shirt" formControlName="title">
                  <div *ngFor="let validation of productValidation.title">
                    <div class="invalid-feedback d-block"
                      *ngIf="ProductForm.get('title').hasError(validation.type) && (ProductForm.get('title').dirty || ProductForm.get('title').touched)">
                      {{validation.message}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Overview -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <span class="ctitle font-weight-bold">Overview</span>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-sm" (click)="addOverview()">
                      <i class="material-icons">
                        playlist_add
                      </i></button>
                  </div>
                </div>
                <div class="form-group">
                  <div formArrayName="overview">
                    <div *ngFor="let item of ProductForm.get('overview').controls; let i = index">
                      <div class="form-row" formGroupName="{{i}}">
                        <div class=" col-4">
                          <input type="text" class="form-control" placeholder="Title" formControlName="title">
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('overview').controls[i].get('title').errors">
                              Remove restricted characters! <br /> Max lenght is 50 characters </div>
                          </div>
                        </div>
                        <div class="col-8">
                          <textarea type="text" class="form-control" placeholder="Information"
                            formControlName="value"></textarea>
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('overview').controls[i].get('value').errors">
                              Remove restricted characters! <br /> Max lenght is 50 characters </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Supply -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="form-group">
                  <label class="ctitle font-weight-bold">Supply Ability</label>
                  <input type="text" class="form-control" placeholder="1200 pieces per Month"
                    formControlName="supplyAbility">
                  <div *ngFor="let validation of productValidation.supplyAbility">
                    <div class="invalid-feedback d-block"
                      *ngIf="ProductForm.get('supplyAbility').hasError(validation.type) && (ProductForm.get('supplyAbility').dirty || ProductForm.get('supplyAbility').touched)">
                      {{validation.message}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Packaging and delivery -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <span class="ctitle font-weight-bold">Packagin & Delivery</span>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-sm" (click)="addPD()">
                      <i class="material-icons">
                        playlist_add
                      </i></button>
                  </div>
                </div>
                <div class="form-group">
                  <div formArrayName="pd">
                    <div *ngFor="let item of ProductForm.get('pd').controls; let i = index">
                      <div class="form-row" formGroupName="{{i}}">
                        <div class=" col-4">
                          <input type="text" class="form-control" placeholder="Packagin" formControlName="title">
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('pd').controls[i].get('title').errors">
                              Remove restricted characters! <br /> Max lenght is 50 characters </div>
                          </div>
                        </div>
                        <div class="col-8">
                          <input type="text" class="form-control" placeholder="e.g Carting Box including Logo"
                            formControlName="value" />
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('overview').controls[i].get('value').errors">
                              Remove restricted characters! <br /> Max lenght is 50 characters </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Image -->
          <div class="row">
            <div class="col">
              <div class="card image">
                <ul class="ctitle">
                  <li class="float-left">
                    <span class="ctitle font-weight-bold">Images</span>
                  </li>
                </ul>
                <input class="ievent" type="file" accept='image/*' (change)="startUpload($event.target.files)"
                  style="opacity: 0;">
                <div formArrayName="productImages">
                  <div class="row">
                    <div class="col-3" *ngFor="let image of ProductForm.get('productImages').controls; let i=index;">
                      <img class="dpimage"
                        [src]="ProductForm.get('productImages').controls[i].get('productImage').value"
                        [alt]="ProductForm.get('productImages').controls[i].get('productImage').value">
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="imageError">
                <div class="invalid-feedback d-block">
                  An error occured.. Make sure the images is valid!
                </div>
              </div>
            </div>
          </div>
          <!-- Order -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="row">
                  <div class="col-8">
                    <label class="card-title font-weight-bold mt-1 mb-0" style="line-height: 24px">Order</label>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <div class="col">
                        <label class="card-title font-weight-bold mt-1 mb-0" style="line-height: 24px">Price</label>
                      </div>
                      <div class="col text-right">
                        <button type="button" class="btn btn-sm" (click)="addPrice()">
                          <i class="material-icons">
                            playlist_add
                          </i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div formArrayName="orderPrices">
                  <div *ngFor="let item of ProductForm.get('orderPrices').controls; let i = index">
                    <div class="row" formGroupName="{{i}}">
                      <div class="form-row col-8">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="min" formControlName="qmin">
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('orderPrices').controls[i].get('qmin').errors">
                              Please include digits only</div>
                          </div>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="max" formControlName="qmax">
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('orderPrices').controls[i].get('qmax').errors">
                              Please include digits only</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="price" formControlName="qprice">
                          <div class="invalid-feedback d-block">
                            <div *ngIf="ProductForm.get('orderPrices').controls[i].get('qprice').errors">
                              Please include digits and '.' character only!</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Shipping -->
          <div class="row">
            <div class="col">
              <div class="card">
                <span class="card-title font-weight-bold">Shipping</span>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="ptype" ngControl="digital"
                    formControlName="digital">
                  <label class="form-check-label" for="ptype">
                    This is a digital product
                  </label>
                </div>
                <hr>
                <div *ngIf="ProductForm.get('digital').value === false">
                  <div class="form-group">
                    <label for="pweight">Weight</label>
                    <span style="font-size: .8rem;">Used to calculate shipping rates at checkout.</span>
                    <input type="text" class="form-control" placeholder="e.g. 1.2 Kg" formControlName="weight">
                    <div *ngFor="let validation of productValidation.weight">
                      <div class="invalid-feedback d-block"
                        *ngIf="ProductForm.get('weight').hasError(validation.type) && (ProductForm.get('weight').dirty || ProductForm.get('weight').touched)">
                        {{validation.message}}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="corigitn">Country of origin</label>
                    <input type="text" class="form-control" placeholder="e.g. Italy" formControlName="origin">
                    <div *ngFor="let validation of productValidation.origin">
                      <div class="invalid-feedback d-block"
                        *ngIf="ProductForm.get('origin').hasError(validation.type) && (ProductForm.get('origin').dirty || ProductForm.get('origin').touched)">
                        {{validation.message}}</div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!-- Variants -->
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="row">
                  <div class="col">
                    <span class="card-title font-weight-bold">Variants</span>
                  </div>
                  <div class="col text-right">
                    <button type="button" class="btn btn-sm" (click)="addVariant()">
                      <i class="material-icons">
                        playlist_add
                      </i></button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <label for="voption">Option name</label>
                  </div>
                  <div class="col-8">
                    <label for="oval">Option value</label>
                  </div>
                </div>
                <div formArrayName="variants">
                  <div *ngFor="let item of ProductForm.get('variants').controls; let i = index">
                    <div formGroupName="{{i}}">
                      <div class="row my-0 py-0">
                        <div class="col-4">
                          <div class="form-group">
                            <input type="text" class="form-control mt-2" placeholder="Size"
                              formControlName="optionName">
                            <div class="invalid-feedback d-block">
                              <div *ngIf="ProductForm.get('variants').controls[i].get('optionName').errors">
                                Remove unsafe characters!</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-8">
                          <div class="form-group">
                            <input type="text" class="form-control mt-2" placeholder="Separate options with comma"
                              formControlName="optionValue">
                            <div class="invalid-feedback d-block">
                              <div *ngIf="ProductForm.get('variants').controls[i].get('optionValue').errors">
                                Remove unsafe characters!</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2 pb-3">
                <div class="col-6">
                  <button type="submit" [disabled]="ProductForm.invalid"
                    class="w-100 btn btn-small btn-primary b-0">Edit Product</button>
                </div>
                <div class="col-6">
                  <button type="button" class="w-100 btn btn-small btn-danger b-0" (click)="removeProduct()">Delete
                    Product</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Oranization -->
        <div class="col-4">
          <div class="card">
            <span class="card-title font-weight-bold">Organization</span>
            <div class="form-group">
              <label for="ptype">Product Type</label>
              <input type="text" class="form-control" formControlName="type">
              <div *ngFor="let validation of productValidation.type">
                <div class="invalid-feedback d-block"
                  *ngIf="ProductForm.get('type').hasError(validation.type) && (ProductForm.get('type').dirty || ProductForm.get('type').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="pbrand">Brand</label>
              <input type="text" class="form-control" formControlName="brand">
              <div *ngFor="let validation of productValidation.brand">
                <div class="invalid-feedback d-block"
                  *ngIf="ProductForm.get('brand').hasError(validation.type) && (ProductForm.get('brand').dirty || ProductForm.get('brand').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="pcollection">Collection</label>
              <input type="text" class="form-control" formControlName="collection">
              <div *ngFor="let validation of productValidation.collection">
                <div class="invalid-feedback d-block"
                  *ngIf="ProductForm.get('collection').hasError(validation.type) && (ProductForm.get('collection').dirty || ProductForm.get('collection').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
            <div class="form-group">
              <label for="ptags">Tags</label>
              <input type="text" class="form-control" formControlName="tags">
              <div *ngFor="let validation of productValidation.tags">
                <div class="invalid-feedback d-block"
                  *ngIf="ProductForm.get('tags').hasError(validation.type) && (ProductForm.get('tags').dirty || ProductForm.get('tags').touched)">
                  {{validation.message}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
