<div class="navigation">
  <!-- Left Navigation -->
  <div class="navigation-left sticky-top float-left">
    <!-- Navigation Header -->
    <div class="brand border-bottom">
      <a href="#">
        <div class="container">
          <div class="row">
            <div class="col-auto p-0">
              <img id="logo" src="../../../../assets//Logo.png" alt="LOGO" />
            </div>
            <div class="col-auto p-0">
              <h5 class="float-left m-2 brand" style="color:white">GoldenLine</h5>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="nav-body">
      <!-- Functionalities -->
      <ul class="navbar-nav scrollable-content p-0">
        <li class="nav-item" *ngIf="manufacturer">
          <a [routerLink]="['/overview',id]" class="nav-link">
            <i class="material-icons">
              dashboard
            </i>
            MY PAGE <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="retailer">
          <a routerLink="/dashboard" class="nav-link">
            <i class="material-icons">
              dashboard
            </i>
            HOME <span class="sr-only">(current)</span></a>
        </li>
        <!-- SERVICES CATEGORY -->

        <li class="sub-category">
          <p class="w-100 align-self-center">SERVICES</p>
          <!-- Manufacturer -->
          <ul class="p-0 w-100" *ngIf="manufacturer">
            <li class="nav-item">
              <a routerLink="/complete-profile" class="nav-link">
                <i class="material-icons">
                  business_center
                </i>
                Complete Profile</a>
            </li>
            <li class="nav-item">
              <a routerLink="/rfqlist" class="nav-link">
                <i class="material-icons">
                  category
                </i>
                Request Forms</a>
            </li>
            <li class="nav-item">
              <a routerLink="/allproducts" class="nav-link">
                <i class="material-icons">
                  all_inbox
                </i>
                Products</a>
            </li>
          </ul>
          <!-- End Manufacturer -->
          <!-- Retailer -->
          <ul class="p-0 w-100" *ngIf="retailer">
            <li class="nav-item">
              <a routerLink="/products" class="nav-link" href="#">
                <i class="material-icons">
                  category
                </i>
                Search Products</a>
            </li>
            <li class="nav-item">
              <a routerLink="/suppliers" class="nav-link" href="#">
                <i class="material-icons">
                  money
                </i>
                Search Suppliers</a>
            </li>
            <li class="nav-item">
              <a routerLink="/rfq" class="nav-link">
                <i class="material-icons">
                  business_center
                </i>
                RFQ</a>
            </li>
          </ul>
          <!-- End Retailer -->
        </li>
        <li class="nav-item">
          <a (click)="goToChat()" class="nav-link">
            <i class="material-icons">
              people
            </i>
            CONNECTIONS</a>
        </li>
      </ul>
      <button type="button" class="logout" (click)="logout()">
        <span class="float-left font-weight-bold">SIGN OUT</span>
        <i class="font-weight-bold material-icons float-right">
          arrow_back_ios
        </i>
      </button>
    </div>
  </div>
  
  <!-- @reference http://www.whereTheClassWasRetrievedFrom.com/example.java -->
  <div class="top-navigation float-left p-0" *ngIf="retailer">
    <div class="header-main">
      <div class="container">
        <div class="row-sm align-items-center">
          <div class="col-8">
            <form (ngSubmit)="searchQuery()" class="py-1" [formGroup]="searhGroup">
              <div class="input-group w-100">
                <select class="custom-select black-border outoff darkform" formControlName="type">
                  <option value="Product">Product</option>
                  <option value="Supplier">Supplier</option>
                </select>
                <input type="text" class="form-control black-border darkform outoff" style="width:50%;"
                  placeholder="Search" formControlName="search" />
                <div class="input-group-append">
                  <button class="btn btn-dark pb-0" type="submit" [disabled]="searhGroup.invalid">
                    <i class="material-icons">search</i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-4">
            <div class="widgets-wrap float-right row no-gutters py-1">
              <div class="col-auto">
                <a href="#" class="widget-header">
                  <div class="icontext">
                    <i class="material-icons icon text-dark">notifications</i>
                  </div>
                </a>
              </div>
              <div class="col-auto">
                <a href="#" class="widget-header">
                  <div class="icontext">
                    <i class="material-icons icon text-dark">email</i>
                    <span class="small round badge badge-danger email-badge">0</span>
                  </div>
                </a>
              </div>

              <div class="col-auto">
                <div class="widget-header dropdown">
                  <a href="#" data-toggle="dropdown" data-offset="20,10">
                    <div class="icontext">
                      <div class="text-wrap text-dark">
                        <button type="button" class="btn btn-dark">
                          Account
                        </button>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Top Navigation -->
  </div>
