<app-navigation></app-navigation>
<div class="main-container" *ngIf="isLoaded">
  <div class="container py-3" >
    <div class="companyOverview">
      <div class="wrap-box">
        <div class="mod-content">
          <div class="block-top">
            <div class="block-left">
              <div class="company-images">
                <div class="image-item" style="outline: none; width: 495px;">
                  <div class="next-row next-row-no-padding next-row-justify-center next-row-align-center image-box">
                    <img src="{{cInfo.profilePicture}}"
                      style="width: 100%; height: 100%;" />
                  </div>
                </div>
              </div>
            </div>
            <div class="block-right">
              <div class="company-card">
                <div class="company-card-title">
                  <div class="title-text"
                    style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
                    {{cInfo.tradingName}}
                  </div>
                  <span class="assessment-icon">
                    <a class="icbu-icon-gs-year icbu-icon-gs-year-bg icbu-icon-gs-year-small no-icon">
                      <span class="join-year"><span class="value">{{yearsInBusiness}}</span><span class="unit">YRS</span></span>
                    </a>
                    <span class="font-weight-bold ml-1" style="font-size: .7rem;">In the
                      business</span>
                  </span>

                </div>
                <div class="company-card-desc">
                  <div
                    style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 4;">
                    <div title="company-description">
                      {{cInfo.businessDescription}}</div>
                  </div>
                </div>
                <div class="company-card-transaction">
                  <div class="transaction-rate">
                    <div class="total-score">
                      4.7
                      <span class="max-score">
                        /
                        5
                      </span></div>
                    <div class="total-desc">
                      <div class="desc-title">Satisfied</div>
                      <div class="review-num">
                        124
                        Reviews
                      </div>
                    </div>
                  </div>
                  <ul class="transaction-detail">
                    <li>
                      <div class="transaction-detail-title">Transaction level</div>
                      <div class="transaction-detail-content font-weight-bold">3+</div>
                    </li>
                    <li>
                      <div class="transaction-detail-title">
                        466
                        Transactions
                      </div>
                      <div class="transaction-detail-content">110,000+</div>
                    </li>
                    <li>
                      <div class="transaction-detail-title">Response Time</div>
                      <div class="transaction-detail-content">&lt;24h</div>
                    </li>
                    <li>
                      <div class="transaction-detail-title">Response Rate</div>
                      <div class="transaction-detail-content">58.5%</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="block-bottom">
            <div class="company-basicInfo">
              <table>
                <tbody>
                  <tr>
                    <td class="field-title " width="20%">Registration Number</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value" title="{{cInfo.registrationNumber}}">
                            {{cInfo.registrationNumber}}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="field-title " width="20%">Main Products</td>
                    <td class="field-content-wrap" width="30%">
                      <div
                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                        <span class="content-value" title="{{cInfo.mainProducts}}">
                          {{cInfo.mainProducts}}
                        </span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="field-title " width="20%">Location</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value" title="{{cInfo.addr}}">{{cInfo.addr}}</span></div>
                      </div>
                    </td>
                    <td class="field-title " width="20%">Ownership</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value" title="Private Owner">Private Owner</span></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="field-title " width="20%">Total Employees</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value"
                            title="{{cInfo.numberOfEmployees.min}}-{{cInfo.numberOfEmployees.max}}">
                            {{cInfo.numberOfEmployees.min}} - {{cInfo.numberOfEmployees.max}} Employees
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="field-title " width="20%">Total Annual Revenue</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value" title="{{cInfo.annualSales.min}}-{{cInfo.annualSales.max}}">
                            {{cInfo.annualSales.min}} -{{cInfo.annualSales.max}}
                          </span>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="field-title " width="20%">Established</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value"
                            title="{{cInfo.establishedDate.day}}-{{cInfo.establishedDate.month}}-{{cInfo.establishedDate.year}}">
                            {{cInfo.establishedDate.day}} - {{cInfo.establishedDate.month}} -
                            {{cInfo.establishedDate.year}}
                          </span>
                        </div>
                      </div>
                    </td>
                    <td class="field-title " width="20%">Product Certifications</td>
                    <td class="field-content-wrap" width="30%"><a class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value"
                            title="{{cInfo.businessCertification}}">{{cInfo.businessCertification}}</span>
                        </div>
                      </a></td>
                  </tr>
                  <tr>
                    <td class="field-title " width="20%">Certifications</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value" title=""> - </span></div>
                      </div>
                    </td>
                    <td class="field-title " width="20%">Trademarks</td>
                    <td class="field-content-wrap" width="30%">
                      <div
                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                        <span class="content-value"
                          title="{{cInfo.businessTrademarks}}">{{cInfo.businessTrademarks}}</span></div>
                    </td>
                  </tr>
                  <tr>
                    <td class="field-title" width="20%">Patents</td>
                    <td class="field-content-wrap" width="30%">
                      <div
                        style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                        <span class="content-value" title="{{cInfo.businessPatents}}">{{cInfo.businessPatents}}</span>
                      </div>
                    </td>
                    <td class="field-title" width="20%">Main Markets</td>
                    <td class="field-content-wrap" width="30%">
                      <div class="field-content">
                        <div
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3;">
                          <span class="content-value" title="{{cInfo.mainMarkets}}"><span class="content-fields">
                              {{cInfo.mainMarkets}}
                            </span>
                          </span>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="companyProduction mt-2">
      <div class="wrap-box">
        <div class="mod-content">
          <div class="info-list">
            <div class="title">
              <h3>Production Flow</h3>
            </div>
            <div class="content mt-3">
              <div class="image-list">
                <div class="row">
                  <div class="col">
                    <div class="image-item">
                      <img class="rounded d-block" width="200" src="{{cInfo.productFlow.stepOne.imageUrl}}"
                        alt="{{cInfo.productFlow.stepOne.title}}">
                      <div class="title">
                        <div class="title-con"
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
                          {{cInfo.productFlow.stepOne.title}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="image-item">
                      <img class="rounded d-block" width="200" src="{{cInfo.productFlow.stepTwo.imageUrl}}"
                        alt="{{cInfo.productFlow.stepTwo.title}}">
                      <div class="title">
                        <div class="title-con"
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
                          {{cInfo.productFlow.stepTwo.title}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="image-item">
                      <img class="rounded d-block" width="200" src="{{cInfo.productFlow.stepThree.imageUrl}}"
                        alt="{{cInfo.productFlow.stepThree.title}}">
                      <div class="title">
                        <div class="title-con"
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
                          {{cInfo.productFlow.stepThree.title}}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="image-item">
                      <img class="rounded d-block" width="200" src="{{cInfo.productFlow.stepFour.imageUrl}}"
                        alt="{{cInfo.productFlow.stepFour.title}}">
                      <div class="title">
                        <div class="title-con"
                          style="overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2;">
                          {{cInfo.productFlow.stepFour.title}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="info-list factoryinfo">
            <div class="title">
              <h3>Factory Information</h3>
            </div>
            <div class="content mt-3">
              <table class="w-100">
                <tbody>
                  <tr class="col-item">
                    <td class="title">Factory Size</td>
                    <td class="content">
                      <div>1,000-3,000 square meters</div>
                    </td>
                  </tr>
                  <tr class="col-item">
                    <td class="title">No. of Production Lines</td>
                    <td class="content">
                      <div>Above 10</div>
                    </td>
                  </tr>
                  <tr class="col-item">
                    <td class="title">Contract Manufacturing</td>
                    <td class="content">
                      <div>
                        OEM Service Offered
                        Design Service Offered
                        Buyer Label Offered
                      </div>
                    </td>
                  </tr>
                  <tr class="col-item">
                    <td class="title">Annual Output Value</td>
                    <td class="content">
                      <div>US$5 Million - US$10 Million</div>
                    </td>
                  </tr>
                  <tr class="col-item">
                    <td class="title">Contract Manufacturing</td>
                    <td class="content">
                      <div>
                        OEM Service Offered
                        Design Service Offered
                        Buyer Label Offered
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="companyContact mt-2">
      <div class="wrap-box">
        <div class="mod-content">
          <h1 class="title">Contact Information</h1>
          <div class="contact-content">
            <div class="row">
              <div class="col-4 left-side">
                <div class="company-profile"><img src="../../assets//images/profile-pic@2x.png" alt="Profile"
                    width="150" height="150"></div>
                <div class="company-manager-info">
                  <h2>Mr. Bruce chan</h2>
                </div>
                <div class="company-manager-posision mt-2">
                  <p>Director/CEO/General Manager<br> General manager</p>

                </div>

              </div>
              <div class="col-8 right-side">

                <table>
                  <tbody>
                    <tr class="telephone">
                      <td class="title">Telephone:</td>
                      <td class="content">{{cInfo.telephone}}</td>
                    </tr>
                    <tr class="m-phone">
                      <td class="title">Mobile Phone:</td>
                      <td class="content">{{cInfo.mobilePhone}}</td>
                    </tr>
                    <tr class="fax">
                      <td class="title">Fax:</td>
                      <td class="content">{{cInfo.fax}}</td>
                    </tr>
                    <tr class="addr">
                      <td class="title">Address:</td>
                      <td class="content text-truncate">{{cInfo.addr}}</td>
                    </tr>
                    <tr class="action-row">
                      <td><button class="btn btn-dark btn-sm">Contact Supplier</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sendDirectMessage mt-2" *ngIf="retailer">
      <div class="wrap-box">
        <div class="mod-content">
          <div class="title">
            <h2>Send direct message to supplier</h2>
          </div>
          <div class="message-form">
            <div class="row">
              <div class="col-12 mx-auto">
                <div class="row">
                  <div class="col-3 label">
                    To:
                  </div>
                  <div class="col-9 to-person">
                    <p>Name Surname</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-3 label">
                    Message:
                  </div>
                  <div class="col-9 message-area">
                    <textarea name="content" rows="4"
                      placeholder="Enter your inquiry details such as product name, color, size, quantity, material, etc."
                      data-meta="Field" id="content" maxlength="8000" type="text" height="100%"></textarea>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-3"></div>
                  <div class="col-9">
                    <button class="btn btn-dark btn-sm">Send Message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
